/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}

.description {
  background: white;
  display: table;
  margin: 40px auto 0 auto;
  padding: 0 0 30px 0;
  width: 80vw;
  border-radius: 10px;
}

.description blockquote {
  margin-bottom: 50px;
}
